DATABASE_PROVIDER=sqlite
SQLITE_DB_PATH=./data/5e-database.sqlite

AZURE_SQL_SERVER=your-server.database.windows.net
AZURE_SQL_USERNAME=your-username
AZURE_SQL_PASSWORD=your-password
AZURE_SQL_DATABASE=dnd5e_srd_minimal

MONGODB_DATABASE=5e-database
MONGODB_URI=
AZURE_COSMOS_CONNECTIONSTRING=
AZURE_COSMOS_LISTCONNECTIONSTRINGURL=
AZURE_COSMOS_SCOPE=https://management.azure.com/.default
AZURE_COSMOS_CLIENTID=
AZURE_COSMOS_CLIENTSECRET=
AZURE_COSMOS_TENANTID=
